.video-background {
  background: #fff;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 95%;
  pointer-events: none;
}

.containerRss {
  position : absolute;
  display : block;
  top : 0;
  left : 80%;
  background-color : green;
  color : white;
  width : 20%;
  height : 90%;
}
